[Unit]
Description=keyplus emulator service

[Service]
Nice=-10
User=keyplusd
Group=keyplusd
PIDFile=/tmp/keyplusd.lock
StandardOutput=null
StandardError=null
StandardInput=null
ExecStart=/usr/bin/keyplusd --as-user
Restart=always

[Install]
WantedBy=multi-user.target
