[submodule "xmega/xusb-boot"]
	path = xmega/xusb-boot
	url = https://github.com/ahtn/xusb-boot
[submodule "nrf24lu1/nrf24lu1p-512-bootloader"]
	path = nrf24lu1/nrf24lu1p-512-bootloader
	url = https://github.com/ahtn/nrf24lu1p-512-bootloader
[submodule "xmega/avr-makefile"]
	path = xmega/avr-makefile
	url = https://github.com/ahtn/avr-makefile
[submodule "atmega32u4/avr-makefile"]
	path = atmega32u4/avr-makefile
	url = https://github.com/ahtn/avr-makefile
[submodule "atmega32u4/bootloaders/kp_boot_32u4"]
	path = atmega32u4/bootloaders/kp_boot_32u4
	url = https://github.com/ahtn/kp_boot_32u4
